*.iml
*.hprof
.gradle
.idea
local.properties
.DS_Store
Thumbs.db
/build
android_commons/build
android_commons/.gradle
sportcast/build
sportcast/.gradle
heroes/build
heroes/.gradle
surfcast/build
surfcast/.gradle
quarantine/build
quarantine/.gradle
buildSrc/build
buildSrc/.gradle
shared/build
shared/.gradle
/captures
.externalNativeBuild
.cxx
*.ap_
*.dex
*.class
bin/
gen/
captures/
*.orig
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
